body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

footer {
  margin-top: 40px;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #FEF2BF;
}

h2 {
  color: #525151;
}

#level-title {

  font-size: 3rem;
  margin:  2.5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 15px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
  .btn {
    margin: 5px;
    height: 120px;
    width: 120px;
    border: 5px solid black;
  }

  #level-title {
    font-size: 2.2rem;
    margin:  20% 0 5% 0;
    color: #FEF2BF;
  }

  footer {
    margin-top: 40px;
    font-size: 0.7rem;
  }

  h2 {
    font-size: 0.9rem;
    margin-bottom: 5%;
  }
}
